<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doooge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>My Doooge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EA9306A1DC438BC0065B905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA930831DC438BD0065B905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA9308E1DC438BD0065B905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA930A41DC43B910065B905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
